<div class="tabs-container">
  <div class="tabs">
    @for(tab of tabs; track tab.title; let i = $index){
    <button class="tab-button" [class.active]="activeTab === i" (click)="setActiveTab(i)">
      {{ tab.title }}
    </button>
    }
  </div>
  <div class="tab-content">
    @for(tab of tabs; track tab.title; let i = $index){
    <div class="tab-pane" [class.active]="activeTab === i">
      @if(tab.type === "table"){
      <table-component [data]="tab.data"></table-component>
      }
    </div>
    }
  </div>
</div>