.table-container {
  width: 100%;
  overflow-x: auto;
  box-shadow: 0 2px 5px rgba(var(--background), 0.1);
}

.table {
  width: 100%;
  background-color: hsl(from var(--background) h s 10%);
  border-radius: 10px;
}

.table th,
.table td {
  text-align: left;
  padding: 16px;
}

.table th {
  background-color: hsl(from var(--background) h s 8%);
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 0.02em;
}

.table td {
  border-top: 1px solid hsl(from var(--background) h s 2%);
  font-size: 0.875rem;
}

.table tr:hover {
  background-color: hsl(from var(--background) h s 15%);
}

.pagination-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination-controls button {
  background-color: hsl(from var(--primary) h s 40%);
  border: none;
  padding: 8px 16px;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 15px;
  transition: background-color 0.3s ease;
}

.pagination-controls button:hover {
  background-color: hsl(from var(--primary) h s 15%);
}

.pagination-controls button:disabled {
  background-color: hsl(from var(--accent) h s 10%);
  color: hsl(from var(--text) h s 40%);
  cursor: not-allowed;
}

.pagination-controls span {
  margin: 0 10px;
}